.sticky {
  position: -webkit-sticky !important;
  position: -moz-sticky !important;
  position: -ms-sticky !important;
  position: -o-sticky !important;
  position: sticky !important;
}
.sticky.stick {
  position: fixed !important;
}
.sticky.stick-bottom {
  position: absolute !important;
  bottom: 0 !important;
  top: auto !important;
}
